//	#000000 - dark
//	#4e2e2c - Light
//	#260600 - Reset
// 	#ffffff - Text


.dark {
	color:	#000000;
}


.light {
	color:	#4e2e2c;
}

.reset{
	color:	#260600;
}

.text {
	color:	#ffffff;
}

.bg {
	background-color:	#fafafa;
}

.dbg {
	background-color:	#4e2e2c;
}

.lbg {
	background-color:	#ffffff;
}

.tshd {
	text-shadow: 2px 2px 5px #4e2e2c;
}

.top_pad {
	padding-top: 67px;
}

.side-nav {
	width: 174px;
}

 header, main {
   padding-left: 174px;
 }


 @media only screen and (max-width : 992px) {
   header, main {
     padding-left: 0;
   }
   .top_pad {
	padding-top: 0px;
	}
 }

 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 main {
     flex: 1 0 auto;
 }


footer {
	background-color: #000000;
	color: #ffffff;
	z-index: 10000;
	font-size: x-small;
}


#content {

}
#question, #type {
	display: none;
}